<% content_for :title, "General Feedback | Feedback | GOV.UK" %>
<% content_for :heading, "General Feedback" %>

<form action="/general-feedback" method="post">
  <%= render "shared/user_details_fieldset" %>

  <section id="zendesk">
    <fieldset>
      <legend>Please specify</legend>
      <label for="feedback" class="top">How can we improve GOV.UK?</label>
      <span class="info">Please don't include any personal or financial information</span>
      <input type="text" maxlength="1200" value="<%= @old ? @old[:feedback]  : '' %>" name="feedback" id="feedback" required aria-required="true"/>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "feedback"}%>

      <label for="section" class="top">Is there a section your feedback relates to?</label>
      <select name="section" maxlength="1200" id="section">
        <% @departments.each do |key, value| %>
          <% if @old && value == @old[:section] %>
            <option selected="selected" value="<%= value %>"><%= key %> </option>
          <% else %>
            <option value="<%= value %>"><%= key %> </option>
          <% end %>
        <% end %>      </select>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "section"}%>

    </fieldset>
  </section>
  <input type="submit" class="button"/>
</form>
