<% content_for :title, question_title %>
<% content_for :context, "Request accessible document" %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_base_path
  } %>
<% end %>

<form action="<%= submission_path %>" method="POST" id="request-accessible-format" class="gem-c-title">
  <% question_inputs.each do |input| %>
    <% if input[:component] == "radio" %>
      <%= render partial: "/contact/govuk/accessible_format_requests/inputs/radio_question", locals: { input: input } %>
    <% elsif input[:component] == "textarea" %>
      <%= render partial: "/contact/govuk/accessible_format_requests/inputs/textarea_question", locals: { input: input } %>
    <% elsif input[:component] == "input" %>
      <%= render partial: "/contact/govuk/accessible_format_requests/inputs/inputs_question", locals: { input: input } %>
    <% end %>
  <% end %>

  <% permitted_params.each do |key, value| %>
    <input type="hidden" name="<%= key %>" value="<%= value %>">
  <% end %>

  <input type="hidden" name="question_number" value="<%= next_question_number %>">
  <input type="hidden" name="previous_question_number" value="<%= next_question_number - 1 %>">

  <div class="govuk-form-footer">
    <%= render "govuk_publishing_components/components/button", {
      text: "Continue"
    } %>
  </div>
</form>