<% content_for :title, question_title %>

<form action="<%= contact_govuk_request_accessible_format_path %>" method="POST" id="request-accessible-format" class="gem-c-title">

  <% if question_component == "radio" %>
    <%= render "govuk_publishing_components/components/radio", {
      name: question_key,
      heading: question_caption,
      items: question_options
    } %>
  <% elsif question_component == "textarea"%>
      <%= render "govuk_publishing_components/components/textarea", {
      name: question_key,
      label: {text: question_caption },
    } %>
  <% elsif question_component == "input"%>
    <% question_inputs.each do |row| %>
      <%= render "govuk_publishing_components/components/input", {
        heading: question_title,
        name: row[:key],
        label: {text: row[:label]},
    } %>
    <% end %>
  <% end %>

  <% permitted_params.each do |key, value| %>
      <input type="hidden" name="<%= key %>" value="<%= value %>">
  <% end %>

  <% unless last_question? %>
    <input type="hidden" name="question_number" value="<%= next_question_number %>">
  <% end %>

  <div class="govuk-form-footer">
    <%= render "govuk_publishing_components/components/button", {
      text: "Continue"
    } %>
  </div>
</form>