<% content_for :title do %>
  <%= t("controllers.contact.govuk.accessible_format_requests.start_page.request_heading") %>
<% end %>

<% content_for :back_link, @back_path %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("controllers.contact.govuk.accessible_format_requests.start_page.request_heading"),
  heading_level: 1,
  font_size: "l",
} %>

<p class="govuk-body">
  <%= t("controllers.contact.govuk.accessible_format_requests.start_page.condition_impairment_body", attachment_title: attachment_title) %>
</p>

<%= render "govuk_publishing_components/components/list", {
  visible_counters: true,
  items: t("controllers.contact.govuk.accessible_format_requests.start_page.condition_impairment_list_items")
} %>

<p class="govuk-body">
  <%= t("controllers.contact.govuk.accessible_format_requests.start_page.requirements_body") %>
</p>

<%= render "govuk_publishing_components/components/list", {
  visible_counters: true,
  items: t("controllers.contact.govuk.accessible_format_requests.start_page.requirements_list_items")
} %>

<p class="govuk-body">
  <%= t("controllers.contact.govuk.accessible_format_requests.start_page.department_email_confirmation_body") %>
</p>

<%= render "govuk_publishing_components/components/inset_text", {
  text: sanitize(t("controllers.contact.govuk.accessible_format_requests.start_page.help_text"))
} %>

<%= form_with url: contact_govuk_request_accessible_format_format_type_path, method: :get, authenticity_token: false, html: { class: "contact-form" } do |f| %>
  <%= hidden_field_tag :content_id, params["content_id"]%>
  <%= hidden_field_tag :attachment_id, params["attachment_id"]%>

  <%= render "govuk_publishing_components/components/button", {
    text: t("controllers.contact.govuk.accessible_format_requests.start_page.start_now"),
    start: true
  } %>
<% end %>
