<section id="userdetails">
<fieldset>
  <legend>Your details</legend>
  <br/>
  <label for="name">Name</label>
  <input type="text" maxlength="1200" name="name" id="name" required aria-required="true"
         value="<%= @old ? @old[:name]  : '' %>" />
  <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "name"}%>

  <label for="email">Email</label>
  <input type="email" maxlength="1200" name="email" id="email" required aria-required="true"
         value="<%= @old ? @old[:email]  : '' %>" />
  <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "email"}%>

  <label for="verifyemail">Verify email</label>
  <input type="email" maxlength="1200" name="verifyemail" id="verifyemail" required aria-required="true"
         value="<%= @old ? @old[:verifyemail]  : '' %>"
         oninput='checkEmail(this)'/>
  <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "verifyemail"}%>

  <script>
    function checkEmail(input) {
      if (input.value != document.getElementById('email').value) {
        input.setCustomValidity('The two email addresses must match.');
        } else {
        input.setCustomValidity('');
      }
    }
  </script>
</fieldset>
</section>
