<fieldset>
  <legend>Your contact details</legend>

  <% if @errors && @errors[:name] %>
    <p class="validation group">
      <span class="validation-message"  id="error-name"><%= @errors[:name] %></span>
  <% else %>
    <p class="group">
  <% end %>

    <label for="name">Your name</label>
    <input type="name" maxlength="1200" name="name" class="full-name" id="name" required aria-required="true"
           value="<%= @old ? @old[:name]  : '' %>" />

  </p>

  <% if @errors && @errors[:email] %>
    <p class="validation group">
      <span class="validation-message"  id="error-email"><%= @errors[:email] %></span>
  <% else %>
    <p class="group">
  <% end %>

    <label for="email">Your email address</label>
    <input type="email" maxlength="1200" name="email" class="email" id="email" required aria-required="true"
         value="<%= @old ? @old[:email]  : '' %>" />

  </p>


  <% if @errors && @errors[:verifyemail] %>
    <p class="validation group">
      <span class="validation-message"  id="error-verifyemail"><%= @errors[:verifyemail] %></span>
  <% else %>
    <p class="group">
  <% end %>

    <label for="verifyemail">Confirm your email address</label>
    <input type="email" maxlength="1200" name="verifyemail" class="email" id="verifyemail" required aria-required="true"
      value="<%= @old ? @old[:verifyemail]  : '' %>" />

  </p>
</fieldset>
