<% content_for :title do "Make a Freedom of Information request" end %>

<div class="inner">

  <p>Use this form to ask the Cabinet Office and GOV.UK for all the recorded information they have on any subject.</p>
  <p>Find out <a href="/make-a-freedom-of-information-request">how to make a Freedom of Information (FOI) request</a> to other government departments or organisations, or search through previous FOI responses.</p>

  <%= form_for :contact, url: contact_foi_path, as: :post, authenticity_token: false, html: { class: "contact-form" } do |f| %>

    <input type="text" id="val" name="foi[val]" style="display:none"/>
    <%= render "shared/error_summary" %>

    <fieldset>
      <legend>Your contact details</legend>

      <% if @errors && @errors[:name] %>
        <p class="validation group">
        <span class="validation-message" id="nameerror"><%= @errors[:name].first %></span>
      <% else %>
        <p class="group">
      <% end %>

      <label for="name">Your name</label>
      <input type="text" maxlength="1200" name="foi[name]" class="full-name" id="name" required aria-required="true"
             value="<%= @old ? @old[:name] : '' %>"/>

      </p>

      <% if @errors && @errors[:email] %>
        <p class="validation group">
        <span class="validation-message" id="emailerror"><%= @errors[:email].first %></span>
      <% else %>
        <p class="group">
      <% end %>

      <label for="email">Your email address</label>
      <input type="email" maxlength="1200" name="foi[email]" class="email" id="email" required aria-required="true"
             value="<%= @old ? @old[:email] : '' %>"/>

      </p>

      <% if @errors && @errors[:email_confirmation] %>
        <p class="validation group">
        <span class="validation-message" id="email_confirmationerror"><%= @errors[:email_confirmation].first %></span>
      <% else %>
        <p class="group">
      <% end %>

      <label for="email_confirmation">Confirm your email address</label>
      <input type="email" maxlength="1200" name="foi[email_confirmation]" class="email" id="email_confirmation" required aria-required="true"
             value="<%= @old ? @old[:email_confirmation] : '' %>"/>

      </p>
    </fieldset>

    <fieldset>
      <legend>Your request</legend>
      <div class="group">
       <label for="textdetails" class="instruction">Include a detailed description of the information you're looking for. Don't include any personal or financial information.</label>

        <% if @errors && @errors[:textdetails] %>
          <p class="validation group">
          <span class="validation-message" id="textdetailserror"><%= @errors[:textdetails].first %></span>
        <% end %>

        <textarea name='foi[textdetails]' class="full-size counted" id='textdetails'
                  required aria-required="true">
          <%= (@old ? @old[:textdetails] : '') %>
        </textarea>

        <% if @errors && @errors[:textdetails] %>
          </p>
        <% end %>

        <p id="textdetailscounter" class="hint" aria-live="polite" aria-atomic="false">(Maximum of 1,200 characters)</p>
      </div>
    </fieldset>

    <p class="action group">
      <button type="submit" class="button">Submit your Freedom of Information request</button>
    </p>
  <% end %>
</div>
