<h1>Report a problem</h1>

<p class="report-a-problem-toggle"><a href="">Is something wrong with this page?</a></p>
<div class="report-a-problem-container">
  <h2>Help us improve GOV.UK by telling us:</h2>
  <%= form_tag "/contact/govuk/problem_reports", :authenticity_token => false do %>
    <%= hidden_field_tag :url, "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= label_tag :what_doing do %>
      What you were doing
      <%= text_field_tag :what_doing %>
    <% end %>
    <%= label_tag :what_wrong do %>
      What went wrong
      <%= text_field_tag :what_wrong %>
    <% end %>

    <%= button_tag "Send", :class => "button" %>
  <% end %>
</div>
