<% content_for :title, "Contact GOV.UK - Feedback - GOV.UK" %>
<% content_for :heading, "Contact GOV.UK" %>

<p>You can use the form below to ask a question, report a problem or suggest an improvement we can make to GOV.UK.</p>
<p>Remember, our <a href="/support">support pages</a> have answers to the most common questions about GOV.UK.</p>

<form class="contact-form" action="/feedback/contact" method="post">

  <input type="text" id="val" name="contact[val]" style="display:none"/>
  <%= render "shared/error_summary" %>

<fieldset>
  <legend>Why are you contacting us?</legend>
  <p class="option group" name="contact[why]" id="contact-why">
    <label><input type="radio" name="contact[query]"  value="cant-find" id="cant-find"
                  <%= @old ? (@old["query"] == "cant-find" ? "checked" : "" ) : "checked" %>> I can't find what I'm looking for</label>
    <label><input type="radio" name="contact[query]"  value="report-problem" id="report-problem"
                  <%= @old ? (@old["query"] == "report-problem" ? "checked" : "" ) : "" %>> I want to report a problem</label>
    <label><input type="radio" name="contact[query]"  value="ask-question" id="ask-question"
                  <%= @old ? (@old["query"] == "ask-question" ? "checked" : "" ) : "" %>> I want to ask a question</label>
    <label><input type="radio" name="contact[query]"  value="make-suggestion" id="make-suggestion"
                  <%= @old ? (@old["query"] == "make-suggestion" ? "checked" : "" ) : "" %>> I want to make a suggestion</label>
  </p>
</fieldset>

<fieldset id="location">  
  <legend>What's it to do with?</legend>
  <p>
    <label>
      <input type="radio" name="contact[location]" id="location-all" value="all"
             <%= @old ? (@old[:location] == "all" ? "checked" : "" ) : "checked" %> > The whole site
    </label>
  </p>

  <p class="inline option group">
    <label>
      <input type="radio" name="contact[location]" id="location-section" value="section"
        <%= @old ? (@old[:location] == "section" ? "checked" : "" ) : "" %> > A specific section
    </label>
    <%= select_tag "contact[section]",
      options_for_select(@sections, (@old ? @old[:section] : '')) %>
  </p>


  <% if @errors && @errors[:link] %>
    <p class="validation group">
    <% @errors[:link].each do |error| %>
      <span class="validation-message" id="linkerror"><%= error %></span>
    <% end %>
  <% else %>
    <p>
  <% end %>

  <label>
    <input type="radio" name="contact[location]" id="location-specific"
     value="specific" <%= @old ? (@old[:location] == "specific" ? "checked" : "" ) : ""%> > A specific page
  </label>

    <input type="text" name="contact[link]" id="link" placeholder="Enter URL or name of page"
    value=<%= (@old ? @old[:link] : '') %> >
    </p>
</fieldset>

<fieldset>
  <legend>Can you provide more detail?</legend>
  <div class="group">
    <p class="hint">For example if you were searching for something, what did you type into the search box?</p>
    <p class="hint">Please don't include any personal or financial information.</p>

    <% if @errors && @errors[:textdetails] %>
      <p class="validation group">
      <% @errors[:textdetails].each do |error| %>
        <span class="validation-message" id="textdetailserror"><%= error %></span>
      <% end %>
    <% end %>

    <textarea name='contact[textdetails]' class="full-size counted" id="textdetails"
              required aria-required="true"><%= (@old ? @old[:textdetails] : '') %></textarea>

    <% if @errors && @errors[:textdetails] %>
      </p>
    <% end %>

    <p id="textdetailscounter" class="hint" aria-live="polite" aria-atomic="false">(Limit is 1200 characters)</p>
  </div>
</fieldset>

<fieldset id="contact-details">
  <legend>Do you want a reply?</legend>
  <p>If you'd like us to get back to you, please leave your details below.</p>

  <% if @errors && @errors[:name] %>
    <p class="validation group">
    <% @errors[:name].each do |error| %>
      <span class="validation-message" id="nameerror"><%= error %></span>
    <% end %>
  <% else %>
    <p class="group">
  <% end %>

    <label for="name">Your name</label>
    <input name="contact[name]" id="name" type="text" class="full-name" value="<%= (@old ? @old[:name] : '') %>">
  </p>


  <% if @errors && @errors[:email] %>
    <p class="validation group">
    <% @errors[:email].each do |error| %>
      <span class="validation-message" id="emailerror"><%= error %></span>
    <% end %>
  <% else %>
    <p class="group">
  <% end %>

    <label for="email">Your email address</label>
    <input name="contact[email]" id="email" type="text" class="email" value="<%= (@old ? @old[:email] : '') %>">
    <span class="hint">We'll only use this to reply to your message.</span>

  </p>
</fieldset>

<p class="action group">
  <input type="submit" value="Send message" class="button">
</p>
</form>
