<% content_for :title, "Freedom of information - Feedback - GOV.UK" %>
<% content_for :heading, "Make a Freedom of information request" %>

<p>If you're thinking of making a Freedom of Information (FOI) request please read our guide to
  <a href="https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act">
    Freedom of Information Requests
  </a>
  first. The guide also explains how you can find out whether someone has already requested the
  information you need.
</p>

<p>If you'd like to make a new FOI request, use the form below.</p>

<form class="contact-form" action="/feedback/foi" method="post">

  <% if @errors %>
    <div class="validation-summary">
      <h1>Please check the form</h1>
      <ul>
        <% @errors.each do |key, value| %>
          <% @errors[key].each do |error| %>
            <li><a href="<%= "##{key.to_s}error" %>"><%= error %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/user_details_fieldset" %>

<fieldset>
  <legend>Your request</legend>
  <div class="group">
    <label for="textdetails">Provide a detailed description of the infomation you're seeking</label>

    <% if @errors && @errors[:textdetails] %>
      <p class="validation group">
        <% @errors[:textdetails].each do |error| %>
        <span class="validation-message" id="textdetailserror"><%= error %></span>
      <% end %>
    <% end %>

    <textarea name='textdetails' class="full-size counted" id='textdetails'
              placeholder="Type here (please don't include any personal or financial information)"
              required aria-required="true">
      <%= (@old ? @old[:textdetails] : '') %>
    </textarea>

    <% if @errors && @errors[:textdetails] %>
      </p>
    <% end %>

    <p id="textdetailscounter" class="help">(Limit is 1200 characters)</p>
  </div>
</fieldset>

<p class="action group">
  <input type="submit" value="Submit Freedom of Information request" class="button">
</p>
</form>
