<% content_for :title, "Freedom of Information - Feedback - GOV.UK" %>
<% content_for :heading, "Make a Freedom of Information request" %>

<p>If you're thinking of making a Freedom of Information (FOI) request please read the guide to
  <a href="https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act">
    Freedom of Information requests</a> 
  first. The guide also explains how you can find out whether someone has already requested the
  information you need.
</p>

<p>If you'd like to make a new FOI request, use the form below.</p>

<form class="contact-form" action="/feedback/foi" method="post">

  <%= render "shared/error_summary" %>

  <fieldset>
    <legend>Your contact details</legend>

    <% if @errors && @errors[:name] %>
      <p class="validation group">
      <% @errors[:name].each do |error| %>
        <span class="validation-message" id="nameerror"><%= error %></span>
      <% end %>
    <% else %>
      <p class="group">
    <% end %>

    <label for="name">Your name</label>
    <input type="name" maxlength="1200" name="foi[name]" class="full-name" id="name" required aria-required="true"
    value="<%= @old ? @old[:name]  : '' %>" />

    </p>

    <% if @errors && @errors[:email] %>
      <p class="validation group">
      <% @errors[:email].each do |error| %>
        <span class="validation-message" id="emailerror"><%= error %></span>
      <% end %>
    <% else %>
      <p class="group">
    <% end %>

    <label for="email">Your email address</label>
    <input type="email" maxlength="1200" name="foi[email]" class="email" id="email" required aria-required="true"
    value="<%= @old ? @old[:email]  : '' %>" />

    </p>

    <% if @errors && @errors[:email_confirmation] %>
      <p class="validation group">
      <% @errors[:email_confirmation].each do |error| %>
        <span class="validation-message" id="email_confirmationerror"><%= error %></span>
      <% end %>
    <% else %>
      <p class="group">
    <% end %>

    <label for="email_confirmation">Confirm your email address</label>
    <input type="email" maxlength="1200" name="foi[email_confirmation]" class="email" id="email_confirmation" required aria-required="true"
    value="<%= @old ? @old[:email_confirmation]  : '' %>" />

    </p>
  </fieldset>

<fieldset>
  <legend>Your request</legend>
  <div class="group">
    <label for="textdetails">Provide a detailed description of the information you're seeking</label>
    <p class="help">Please don't include any personal or financial information.</p>

    <% if @errors && @errors[:textdetails] %>
      <p class="validation group">
        <% @errors[:textdetails].each do |error| %>
        <span class="validation-message" id="textdetailserror"><%= error %></span>
      <% end %>
    <% end %>

    <textarea name='foi[textdetails]' class="full-size counted" id='textdetails'
              required aria-required="true">
      <%= (@old ? @old[:textdetails] : '') %>
    </textarea>

    <% if @errors && @errors[:textdetails] %>
      </p>
    <% end %>

    <p id="textdetailscounter" class="help" aria-live="polite" aria-atomic="false">(Limit is 1200 characters)</p>
  </div>
</fieldset>

<p class="action group">
  <input type="submit" value="Submit Freedom of Information request" class="button">
</p>
</form>
