<% content_for :title, "General feedback | Feedback | GOV.UK" %>
<% content_for :heading, "General feedback" %>

<form action="/feedback/general-feedback" method="post">
  <%= render "shared/user_details_fieldset" %>

  <section id="zendesk">
    <fieldset>
      <legend>Please specify</legend>
      <label for="feedback" class="top">How can we improve GOV.UK?</label>
      <span class="info">Please don't include any personal or financial information</span>
      <%= text_field_tag 'feedback', (@old ? @old[:feedback] : ''),
        :maxlength => 1200, :required => true, :class => :counted %>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "feedback"}%>
      <label id='feedbackcounter' class='top'></label>

      <label for="section" class="top">Is there a section your feedback relates to?</label>
      <%= select_tag "section", options_for_select(@departments, (@old ? @old[:section] : '')), :prompt => "Select department" %>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "section"}%>

    </fieldset>
  </section>
  <input id="submit" type="submit" class="button"/>
</form>
