<% content_for :title, "I can't find | Feedback | GOV.UK" %>
<% content_for :heading, "I can't find" %>

<form action="/feedback/i-cant-find" method="post">
  <%= render "shared/user_details_fieldset" %>

  <section id="zendesk">
    <fieldset>
      <legend>Please specify</legend>
      <label for="lookingfor" class="top">What are you looking for?</label>
      <span class="info">Please don't include any personal or financial information</span>
      <input type="text" maxlength="1200" name="lookingfor" id="lookingfor" required aria-required="true"
             value="<%= @old ? @old[:lookingfor]  : '' %>" />
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "lookingfor"}%>

      <label for="section" class="top">Where would you expect to find it?</label>
      <select name="section" maxlength="1200" id="section">
        <% @departments.each do |key, value| %>
          <% if @old && value == @old[:section] %>
            <option selected="selected" value="<%= value %>"><%= key %> </option>
          <% else %>
            <option value="<%= value %>"><%= key %> </option>
          <% end %>
        <% end %>
      </select>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "section"}%>

      <label for="link" class="top">If you normally use a link to access the above information, please list it here.</label>
      <input type="url" maxlength="1200" name="link" id="link" value="<%= @old ? @old[:link]  : '' %>" />
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "link"}%>

      <label for="searchterms" class="top">Please list any search terms you used to help us improve GOV.UK.</label>
      <span class="info">Please don't include any personal or financial information</span>
      <input type="url" maxlength="1200" name="searchterms" id="searchterms" value="<%= @old ? @old[:searchterms]  : '' %>" />
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "searchterms"}%>

    </fieldset>
  </section>
  <input id="submit" type="submit" class="button"/>
</form>
