<% content_for :title, "I can't find | Feedback | GOV.UK" %>
<% content_for :heading, "I can't find" %>

<form action="/feedback/i-cant-find" method="post">
  <%= render "shared/user_details_fieldset" %>

  <section id="zendesk">
    <fieldset>
      <legend>Please specify</legend>
      <label for="lookingfor" class="top">What are you looking for?</label>
      <span class="info">Please don't include any personal or financial information</span>
      <%= text_field_tag 'lookingfor', (@old ? @old[:lookingfor] : ''),
        :maxlength => 1200, :required => true, :class => :counted %>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "lookingfor"}%>
      <label id='lookingforcounter' class='top'></label>

      <label for="section" class="top">Where would you expect to find it?</label>
      <%= select_tag "section",
        options_for_select(@departments, (@old ? @old[:section] : '')),
        :prompt => "Select section" %>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "section"}%>

      <label for="link" class="top">If you normally use a link to access the above information, please list it here.</label>
      <input type="url" maxlength="1200" class="counted" name="link" id="link" value="<%= @old ? @old[:link]  : '' %>" />
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "link"}%>
      <label id='linkcounter' class='top'></label>

      <label for="searchterms" class="top">Please list any search terms you used to help us improve GOV.UK.</label>
      <span class="info">Please don't include any personal or financial information</span>
      <%= text_field_tag 'searchterms', (@old ? @old[:searchterms] : ''),
        :maxlength => 1200, :class => :counted %>
      <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "searchterms"}%>
      <label id='searchtermscounter' class='top'></label>

    </fieldset>
  </section>
  <input id="submit" type="submit" class="button"/>
</form>
