<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8" />
    <title><%= yield :title %> - GOV.UK</title>
    <%= yield :section_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="govuk-width-container">
    <% if content_for?(:back_link) %>
      <%= render 'govuk_publishing_components/components/back_link', { href: yield(:back_link) } %>
    <% end %>
      <main class="govuk-main-wrapper" id="content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>

    <%= javascript_include_tag 'test-dependencies' if Rails.env.test? %>
    <%= javascript_include_tag 'application', integrity: false %>
    <%= javascript_include_tag 'es6-components.js', type: "module" %>
  </body>
</html>
