<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%=  stylesheet_link_tag 'feedback', integrity: true, crossorigin: 'anonymous' %>
    <!--[if IE 6]><%= stylesheet_link_tag "feedback-ie6.css" %><![endif]-->
    <%=  javascript_include_tag 'feedback', integrity: true, crossorigin: 'anonymous' %>
    <title><%= yield :title %></title>
    <%= yield :section_meta_tags %>
  </head>
  <body class="full-width">
    <div id="wrapper">
      <main id="content" role="main" class="group category-page">
        <%= render partial: 'govuk_component/breadcrumbs', locals: { breadcrumbs: @breadcrumbs } %>

        <header class="page-header group">
          <div class="full-width">
            <h1><%= yield :title %></h1>
          </div>
        </header>

        <div class="contact-container full-width group">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
