<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%=  stylesheet_link_tag 'application', integrity: false %>
    <%=  stylesheet_link_tag 'print.css', media: 'print', integrity: false %>
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <%= javascript_include_tag "test-dependencies" if Rails.env.test? %>
    <%=  javascript_include_tag 'application', integrity: false %>
    <title><%= yield :title %></title>
    <%= yield :section_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'govuk_publishing_components/components/breadcrumbs', {
        breadcrumbs: @breadcrumbs,
        collapse_on_mobile: true
      } %>
      <main id="content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render 'govuk_publishing_components/components/title', title: yield(:title) %>
            <%= yield %>
          </div>
        </div>
      </main>
      <% unless @hide_feedback_component %>
        <%= render 'govuk_publishing_components/components/feedback' %>
      <% end %>
    </div>
  </body>
</html>
