<% emergency_banner = render("govuk_web_banners/emergency_banner") %>
<% global_banner = render("govuk_web_banners/global_banner") %>

<% content_for :body do %>
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: @breadcrumbs,
      collapse_on_mobile: true
    } %>
    <main id="content" role="main" class="govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= yield(:error_summary) %>
          <%= render "govuk_publishing_components/components/heading", {
            text: yield(:title),
            heading_level: 1,
            font_size: "xl",
            margin_bottom: 8
          } %>
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      rendering_app: "feedback",
    }
  } %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title: yield(:title) + " - GOV.UK",
      omit_feedback_form: true,
      emergency_banner:,
      global_banner:,
  } do %>
  <%= yield :body %>
  <%= javascript_include_tag 'test-dependencies' if Rails.env.test? %>
<% end %>
