<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%=  stylesheet_link_tag 'application', :media => "all", integrity: false %>
    <title><%= yield :title %> - GOV.UK</title>
    <%= yield :section_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'govuk_publishing_components/components/breadcrumbs', {
        breadcrumbs: @breadcrumbs,
        collapse_on_mobile: true
      } %>
      <main id="content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render 'govuk_publishing_components/components/title', title: yield(:title) %>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <%= javascript_include_tag 'test-dependencies' if Rails.env.test? %>
    <%= javascript_include_tag 'application', integrity: false %>
  </body>
</html>
