<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%=  stylesheet_link_tag 'feedback' %>
    <!--[if IE 6]><%= stylesheet_link_tag "feedback-ie6.css" %><![endif]-->
    <%=  javascript_include_tag 'feedback' %>
    <title><%= yield :title %></title>
    <%= yield :section_meta_tags %>
  </head>
  <body class="mainstream full-width">
    <div id="wrapper">
      <section id="content" role="main" class="group">
      <header class="page-header group">
      <hgroup>
        <span></span>
        <h1><%= yield :heading %></h1>
      </hgroup>
      </header>
      <div class="article-container group">
        <article role="article" class="group">
        <div class="inner">
            <%= yield %>
        </div>
        </article>
      </div>
      </section>
    </div>
  </body>
</html>
