<% emergency_banner = render("govuk_web_banners/emergency_banner") %>
<% global_banner = render("govuk_web_banners/global_banner") %>
<% stylesheet_link_tag "application", media: "all"  # Trigger this without rendering it to ensure it appears in links header %>

<% content_for :body do %>
  <div class="completed_transaction service govuk-width-container">
    <%= render "govuk_publishing_components/components/contextual_breadcrumbs", {
      content_item: content_item_hash
    } %>
    <main id="content" role="main" class="govuk-main-wrapper" <%= @lang_attribute %>>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: yield(:title),
            heading_level: 1,
            font_size: "xl",
            margin_bottom: 8
          } %>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <%= yield %>
            <%= render 'shared/publication_metadata', :publication => publication %>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render 'govuk_publishing_components/components/contextual_sidebar',
            content_item: content_item_hash
          %>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <%= render 'govuk_publishing_components/components/contextual_footer',
            content_item: content_item_hash
          %>
        </div>
      </div>
    </main>
  </div>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <meta name="robots" content="noindex, nofollow">
  <meta name="govuk:format" content="<%= content_item_hash["document_type"] %>">
  <meta name="govuk:schema-name" content="<%= content_item_hash["schema_name"] %>">
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      rendering_app: "feedback",
    }
  } %>
  <%= render_component_stylesheets %>
<% end %>

<% I18n.locale = I18n.default_locale %>
<%= render "govuk_publishing_components/components/layout_for_public", {
      title: yield(:title) + " - GOV.UK",
      omit_feedback_form: true,
      emergency_banner:,
      global_banner:,
  } do %>
  <%= yield :body %>
  <%= javascript_include_tag 'test-dependencies' if Rails.env.test? %>
<% end %>
